@font-face {
	font-family: 'yekan';
	src: url("../fonts/yekan.ttf") format("truetype"),
	url("../fonts/yekan.eot?#iefix") format("embedded-opentype");
}

* {
	direction: rtl;
	text-align: right;
}

a {
	text-decoration: none;
	color: #585858;
}

ul, h3, h4, p {
	margin: 0;
	padding: 0;
}

h3 {
	color: #4c4b4b;
	font-weight: normal;
}

li {
	list-style: none;
}

body {
	margin: 0;
	font-family: yekan, serif;
	background-color: #eee;
}

header {
	background-color: white;
}

#header {
	width: 1200px;
	height: 90px;
	margin: 0 auto;
}

#header_right {
	width: 750px;
	height: 90px;
	float: right;
}

#header_left {
	width: 149px;
	height: 90px;
	line-height: 120px;
	float: left;
}

#header_right_top {
	height: 40px;
	line-height: 38px;
}

#header_right_bottom {
	height: 40px;
}

#login_top {
	width: 25px;
	height: 25px;
	display: block;
	background: url("../images/login.png") no-repeat center;
	float: right;
	margin: 5px;
}

#signup_top {
	width: 25px;
	height: 25px;
	display: block;
	background: url("../images/register.png") no-repeat center;
	float: right;
	margin: 5px;
}

#login_top_a {
	float: right;
	margin-left: 15px;
}

#signup_top_a {
	float: right;
}

#basket_top {
	width: 190px;
	height: 40px;
	float: right;
	border-radius: 5px;
	overflow: hidden;
}

#search_top {
	width: 500px;
	height: 40px;
	float: right;
	position: relative;
}

#search_top input {
	width: 475px;
	padding-right: 5px;
	height: 38px;
	border: 1px solid #e9d9e3;
	margin-right: 20px;
	color: #7f5f74;
	border-radius: 8px;
}

#search_top span {
	width: 42px;
	height: 42px;
	position: absolute;
	top: 0;
	left: -1px;
	background: #7e5e74 url("../images/search.png") no-repeat center;
	border-radius: 8px 0 0 8px;
}

#basket_top_right {
	width: 50px;
	height: 100%;
	background: url("../images/bs.png") no-repeat center #007700;
	float: right;
}

#basket_top_left {
	width: 140px;
	height: 100%;
	float: right;
	background-color: #00a000;
	line-height: 40px;
}

#basket_top_left a {
	width: 100%;
	height: 100%;
	display: inline-block;
	color: #f9f9f9;
	text-align: center;
}

#basket_top_left a span {
	background-color: #00d400;
	padding: 0 10px;
	border-radius: 50%;
}

.fontvvs {
	font-size: 8pt;
}

.fontvs {
	font-size: 9pt;
}

.fontsm {
	font-size: 10.3pt;
}

.fontmd {
	font-size: 11.3pt;
}

.fontlg {
	font-size: 12.3pt;
}

nav {
	width: 100%;
	height: 35px;
	background: #ffddf0;
	box-shadow: 0 3px 5px #cccccc;
	border-top: 1px solid #e2d7dd;
}

#menu_top {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

#menu_top > ul {
	height: 100%;
	position: relative;
}

#menu_top > ul > li {
	list-style: none;
	display: inline-block;
	height: 100%;
	padding: 0 10px;
}

.menu_arrow {
	background: url("../images/arrow-down.png") no-repeat center;
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin: 12px 5px 0;
}

#menu_top > ul > li > a {
	display: inline-block;
	height: 100%;
}

.topmenu2 {
	position: absolute;
	right: 0;
	top: 35px;
	background-color: white;
	box-shadow: 0 2px 5px #96a996;
	width: 100%;
	height: 36px;
	line-height: 33px;
	font-weight: bold;
	display: none;
	z-index: 10;
}

.topmenu2 > li {
	display: inline-block;
	padding: 0 15px;
	height: 100%;
}

.topmenu2 > li > a {
	display: inline-block;
	height: 100%;
}

.topmenu3 {
	width: 100%;
	height: 300px;
	position: absolute;
	right: 0;
	background-color: white;
	border-top: 1px solid #e2d7dd;
	display: none;
	z-index: 100;
}

.topmenu3 > div {
	width: 25%;
	height: 100%;
	border-left: 1px solid #e4e6e4;
	box-sizing: border-box;
	float: right;
}

.topmenu3_col {
	padding-right: 10px;
	font-weight: normal;
}

.topmenu3_col > li {
	padding-right: 15px;
}

.topmenu3_col > li:first-child {
	padding-right: 0;
	color: #928deb;
	font-weight: bold;
}

.topmenu3 img {
	position: absolute;
	left: 0;
	bottom: 0;
}

.active_menu {
	background-color: #fff;
	cursor: pointer;
	box-shadow: 0 -1px 3px #6f6f6f;
}

.active_menu > a {
	color: red;
}

.main {
	width: 1200px;
	margin: 0 auto;
}


/* End header And Nav */

/* Start Footer */
#footer_top {
	width: 100%;
	height: 35px;
	background-color: #585858;
	color: white;
	line-height: 34px;
}

#footer_top p {
	display: inline-block;
	font-size: 11pt;
}

#footer_top span {
	font-size: 11pt;
	float: left;
	margin-left: 15px;
	height: 100%;
}

#footer_top span a {
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 35px;
	font-size: 10pt;
}

#footer_top span a::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url("../images/slices.png");
	float: left;
	margin-top: 7px;
	margin-right: 4px;
}

#footer_top span:first-of-type a::before {
	background-position: -321px -420px;
}

#footer_top span:nth-of-type(2) a::before {
	background-position: -358px -420px;
}

#footer_top span:nth-of-type(3) a::before {
	background-position: -397px -420px;
}

#footer_bottom {
	width: 100%;
	height: 300px;
	background-color: #e2d7dd;
}

#footer_bottom ul {
	width: 300px;
	height: 100%;
	float: right;
	line-height: 58px;
}

#footer_bottom ul li:first-child {
	font-size: 13pt;
	margin-bottom: 5px;
}

#footer_bottom .left {
	width: 590px;
	height: 100%;
	float: left;
}

#footer_bottom .left p {
	font-size: 14pt;
	margin-top: 30px;
}

#footer_bottom .left .email_subscribe {
	margin-top: 15px;
}

#footer_bottom .left .email_subscribe input {
	width: 300px;
	height: 35px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 0 7px;
	direction: ltr;
}

#footer_bottom .left .email_subscribe button {
	width: 85px;
	height: 35px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 0 7px;
	background-color: #5b50fbc9;
	color: white;
	text-align: center;
	line-height: 35px;
	font-size: 10pt;
	margin-right: 10px;
	font-family: yekan;
}

#footer_bottom .left .socials {
	width: 100%;
	height: 50px;
	margin-top: 110px;
}

#footer_bottom .left .socials img {
	float: left;
	margin-left: 10px;
	width: 150px;
	height: 50px;
	border-radius: 4px;
	overflow: hidden;
}

#footer_bottom .left .social_btn {
	width: 260px;
	display: inline-block;
	height: 50px;
}

#footer_bottom .left .social_btn a {
	width: 30px;
	height: 30px;
	float: right;
	background: url("../images/slices.png");
	margin-left: 7px;
	margin-top: 20px;
	transition: all 0.2s ease-out;
}

#footer_bottom .left .social_btn a:hover {
	transform: rotate(360deg);
}

#footer_bottom .left .social_btn #telegram {
	background-position: -618px -620px;
}

#footer_bottom .left .social_btn #facebook {
	background-position: -576px -620px;
}

#footer_bottom .left .social_btn #instagram {
	background-position: -535px -620px;
}

#footer_bottom .left .social_btn #googleplus {
	background-position: -494px -620px;
}

#footer_bottom .left .social_btn #tweeter {
	background-position: -453px -620px;
}

#footer_bottom .left .social_btn #linkdin {
	background-position: -410px -620px;
}

#footer_bottom .left .social_btn #aparat {
	background-position: -370px -620px;
}

/*************************************************** End Footer */


.order_steps {
	width: 914px;
	min-height: 50px;
	margin: 30px auto;
}

.dashed {
	float: right;
	height: 10px;
	margin: 20px 10px;
}

.dashed span {
	float: right;
	width: 11px;
	height: 2px;
	background-color: green;
	margin-left: 4px;
	margin-top: 4px;
}

.order_steps > ul {
	float: right;
	height: 10px;
	margin-top: 20px;
	margin-left: 10px;
}

.order_steps > ul > li {
	width: 240px;
	height: 10px;
	position: relative;
	float: right;
}

.order_steps > ul > li:last-child {
	width: 21px;
}

.order_steps > ul > li .circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #cccccc;
	position: absolute;
	top: -7px;
	right: 0;
}

.order_steps > ul > li.active .circle {
	border: 2px solid green;
	background: green url("../images/slices.png") -809px -474px no-repeat;
}

.order_steps > ul > li .line {
	width: 190px;
	height: 2px;
	position: absolute;
	top: 4px;
	right: 37px;
	background-color: #cccccc;
}

.order_steps > ul > li.active .line {
	background-color: green;
}

.order_steps > ul > li .title {
	width: 136px;
	position: absolute;
	top: 17px;
	right: -60px;
	font-size: 11pt;
	text-align: center;
	color: #5a5a5a;
}

.order_steps > ul > li.active .title {
	color: green;
}


.sabad {
	padding: 10px 1%;
	margin: 10px 0;
	background-color: #FFFFFF;
}

.head {
	position: relative;
}

.head h4 {
	display: inline-block;
	font-size: 13pt;
	color: #585858;
	margin-right: 20px;
	margin-top: 40px;
}

.btn_green {
	display: inline-block;
	padding: 5px 10px;
	line-height: 24px;
	background-color: #00a000;
	color: #FFFFFF;
	text-align: center;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #b8b8b8;
	font-size: 10pt;
	cursor: pointer;
}

.head .btn_green {
	position: absolute;
	left: 15px;
}

.sabad_table {
	margin-top: 25px;
}

.sabad_table > table {
	width: 98%;
	margin: 0 auto;
}

.sabad_table > table > tbody > tr {
	background-color: #e9e9e9;
	font-size: 10pt;
}

.sabad_table > table > tbody > tr:first-child {
	background-color: #454545;
	color: #FFFFFF;
}

.sabad_table > table > tbody > tr > td {
	text-align: center;
	padding: 5px;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #000000;
}

.sabad_table > table > tbody > tr:first-child > td {
	border-left: none;
	border-bottom: none;
}

.sabad_table > table > tbody > tr > td:first-child {
	border-right: 1px solid #cccccc;
}

.sabad_table > table tr > td:first-child {
	text-align: right;
}

.sabad_table > table .right {
	display: inline-block;
	vertical-align: top;
}

.sabad_table > table .right img {
	max-width: 130px;
	max-height: 130px;
}

.sabad_table > table .left {
	display: inline-block;
	font-size: 10.5pt;
	margin-top: 10px;
	margin-right: 10px;
}

.select_guaranti {
	width: 90px;
	height: 34px;
	background-color: #FFFFFF;
	position: relative;
	text-align: center;
	margin: auto;
	border-radius: 4px;
}

.guar_title {
	font-size: 10pt;
	line-height: 39px;
	display: inline-block;
	height: 30px;
}

.select_guaranti ul {
	border-top: none;
	box-shadow: 0 3px 3px #dad8d8;
	display: none;
	position: absolute;
	top: 35px;
	right: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: #FFFFFF;
	z-index: 2;
}

.select_guaranti ul li {
	padding: 2px;
	font-size: 10pt;
	text-align: center;
}

.select_guaranti ul li:hover {
	background-color: #a6a6a6;
}

.select_guaranti::after {
	content: '';
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url("../images/slices.png") no-repeat -31px -461px;
	position: absolute;
	top: 13px;
	left: 5px;
}

.sabad_table > table .editbasket {
	background-color: rgb(214, 224, 249);
	cursor: pointer;
}

.sabad_table > table .editbasket:hover {
	background-color: rgb(238, 162, 137);
}

.sabad_table > table .editbasket i {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../images/slices.png) -811px -412px;
}

.sabad_table > table .editbasket a {
	height: 130px;
	display: block;
	width: 100%;
	text-align: center;
	line-height: 135px;
}

.final_price {
	margin-top: 50px;
	height: 180px;
	position: relative;
}

.totalprice, .pardakhtprice, .sendprice, .discountprice {
	width: 100%;
	height: 45px;
	padding-right: 10px;
	border: 1px solid greenyellow;
	float: left;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	color: #00a000;
	line-height: 40px;
}

.totalprice {
	border-bottom: none;
	top: 0;
	color: #585858;
}

.sendprice {
	top: 45px;
	border-bottom: none;
	color: #585858;
}

.discountprice {
	top: 90px;
	border-bottom: none;
	color: #585858;
}

.pardakhtprice {
	top: 135px;
}

.final_price span {
	float: right;
	margin-left: 150px;
}

.totalprice span:first-child, .pardakhtprice span:first-child, .sendprice span:first-child, .discountprice span:first-child {
	font-size: 12pt;
	display: inline-block;
	width: 200px;
}

.totalprice span:nth-child(2), .sendprice span:nth-child(2), .discountprice span:nth-child(2), .pardakhtprice span:nth-child(2) {
	font-size: 14pt;
	font-weight: bold;
	margin-right: 10px;
	float: right;
	display: inline-block;
	width: 63%;
	text-align: left;
	margin-left: 0;
}

.totalprice span:nth-child(3), .pardakhtprice span:nth-child(3), .sendprice span:nth-child(3), .discountprice span:nth-child(3) {
	font-size: 10.5pt;
	margin-left: 22px;
	float: left;
}

.pardakhtprice span:nth-child(2) {
	font-size: 16pt;
	font-weight: bold;
}

.btns {
	height: 30px;
	margin: 25px 0;
}

.btns > a:first-child {
	float: left;
	margin-left: 10px;
}

.btns > a:last-child {
	float: right;
	background-color: #4c4b4b;
	margin-right: 10px;
}

.send_info {
	width: 100%;
	font-size: 10pt;
}

.send_info tr td{
	padding: 10px ;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.send_info tr:first-child td{
	border-top: 1px solid #eeeeee;
}

.send_info tr:first-child td:first-child{
	border-right: 1px solid #eeeeee;
	width: 60px;
}

.send_info tr td i {
	display: block;
	width: 35px;
	height: 30px;
	background: url("../images/slices.png");
}

.send_info tr:first-child td i {
	background-position: -805px -202px;
}

.send_info tr:last-child td i {
	background-position: -805px -250px;
}

.reviewSpan{
	color: red;
	font-size: 12pt;
	margin: 0 4px;
}






































