@font-face {
	font-family: 'yekan';
	src: url("../fonts/yekan.ttf") format("truetype"),
	url("../fonts/yekan.eot?#iefix") format("embedded-opentype");
}

* {
	direction: rtl;
	text-align: right;
}

a {
	text-decoration: none;
	color: #585858;
}

ul, h3, h4, p {
	margin: 0;
	padding: 0;
}

h3 {
	color: #4c4b4b;
	font-weight: normal;
}

li {
	list-style: none;
}

body {
	margin: 0;
	font-family: yekan, serif;
	background-color: #eee;
}

header {
	background-color: white;
}

#header {
	width: 1200px;
	height: 90px;
	margin: 0 auto;
}

#header_right {
	width: 750px;
	height: 90px;
	float: right;
}

#header_left {
	width: 149px;
	height: 90px;
	line-height: 120px;
	float: left;
}

#header_right_top {
	height: 40px;
	line-height: 38px;
}

#header_right_bottom {
	height: 40px;
}

#login_top {
	width: 25px;
	height: 25px;
	display: block;
	background: url("../images/login.png") no-repeat center;
	float: right;
	margin: 5px;
}

#signup_top {
	width: 25px;
	height: 25px;
	display: block;
	background: url("../images/register.png") no-repeat center;
	float: right;
	margin: 5px;
}

#login_top_a {
	float: right;
	margin-left: 15px;
}

#signup_top_a {
	float: right;
}

#basket_top {
	width: 190px;
	height: 40px;
	float: right;
	border-radius: 5px;
	overflow: hidden;
}

#search_top {
	width: 500px;
	height: 40px;
	float: right;
	position: relative;
}

#search_top input {
	width: 475px;
	padding-right: 5px;
	height: 38px;
	border: 1px solid #e9d9e3;
	margin-right: 20px;
	color: #7f5f74;
	border-radius: 8px;
}

#search_top span {
	width: 42px;
	height: 42px;
	position: absolute;
	top: 0;
	left: -1px;
	background: #7e5e74 url("../images/search.png") no-repeat center;
	border-radius: 8px 0 0 8px;
}

#basket_top_right {
	width: 50px;
	height: 100%;
	background: url("../images/bs.png") no-repeat center #007700;
	float: right;
}

#basket_top_left {
	width: 140px;
	height: 100%;
	float: right;
	background-color: #00a000;
	line-height: 40px;
}

#basket_top_left a {
	width: 100%;
	height: 100%;
	display: inline-block;
	color: #f9f9f9;
	text-align: center;
}

#basket_top_left a span {
	background-color: #00d400;
	padding: 0 10px;
	border-radius: 50%;
}

.fontvvs {
	font-size: 8pt;
}

.fontvs {
	font-size: 9pt;
}

.fontsm {
	font-size: 10.3pt;
}

.fontmd {
	font-size: 11.3pt;
}

.fontlg {
	font-size: 12.3pt;
}

nav {
	width: 100%;
	height: 35px;
	background: #ffddf0;
	box-shadow: 0 3px 5px #cccccc;
	border-top: 1px solid #e2d7dd;
}

#menu_top {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

#menu_top > ul {
	height: 100%;
	position: relative;
}

#menu_top > ul > li {
	list-style: none;
	display: inline-block;
	height: 100%;
	padding: 0 10px;
}

.menu_arrow {
	background: url("../images/arrow-down.png") no-repeat center;
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin: 12px 5px 0;
}

#menu_top > ul > li > a {
	display: inline-block;
	height: 100%;
}

.topmenu2 {
	position: absolute;
	right: 0;
	top: 35px;
	background-color: white;
	box-shadow: 0 2px 5px #96a996;
	width: 100%;
	height: 36px;
	line-height: 33px;
	font-weight: bold;
	display: none;
	z-index: 10;
}

.topmenu2 > li {
	display: inline-block;
	padding: 0 15px;
	height: 100%;
}

.topmenu2 > li > a {
	display: inline-block;
	height: 100%;
}

.topmenu3 {
	width: 100%;
	height: 300px;
	position: absolute;
	right: 0;
	background-color: white;
	border-top: 1px solid #e2d7dd;
	border-bottom: 1px solid #e2d7dd;
	display: none;
	z-index: 100;
}

.topmenu3 > div {
	width: 25%;
	height: 100%;
	border-left: 1px solid #e4e6e4;
	box-sizing: border-box;
	float: right;
}

.topmenu3_col {
	padding-right: 10px;
	font-weight: normal;
}

.topmenu3_col > li {
	padding-right: 15px;
}

.topmenu3_col > li:first-child {
	padding-right: 0;
	color: #928deb;
	font-weight: bold;
}

.topmenu3 img {
	position: absolute;
	left: 0;
	bottom: 0;
}

.active_menu {
	background-color: #fff;
	cursor: pointer;
	box-shadow: 0 -1px 3px #6f6f6f;
}

.active_menu > a {
	color: red;
}

.main {
	width: 1200px;
	margin: 0 auto;
}


/* End header And Nav */

/* Start Footer */
#footer_top {
	width: 100%;
	height: 35px;
	background-color: #585858;
	color: white;
	line-height: 34px;
}

#footer_top p {
	display: inline-block;
	font-size: 11pt;
}

#footer_top span {
	font-size: 11pt;
	float: left;
	margin-left: 15px;
	height: 100%;
}

#footer_top span a {
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 35px;
	font-size: 10pt;
}

#footer_top span a::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url("../images/slices.png");
	float: left;
	margin-top: 7px;
	margin-right: 4px;
}

#footer_top span:first-of-type a::before {
	background-position: -321px -420px;
}

#footer_top span:nth-of-type(2) a::before {
	background-position: -358px -420px;
}

#footer_top span:nth-of-type(3) a::before {
	background-position: -397px -420px;
}

#footer_bottom {
	width: 100%;
	height: 300px;
	background-color: #e2d7dd;
}

#footer_bottom ul {
	width: 300px;
	height: 100%;
	float: right;
	line-height: 58px;
}

#footer_bottom ul li:first-child {
	font-size: 13pt;
	margin-bottom: 5px;
}

#footer_bottom .left {
	width: 590px;
	height: 100%;
	float: left;
}

#footer_bottom .left p {
	font-size: 14pt;
	margin-top: 30px;
}

#footer_bottom .left .email_subscribe {
	margin-top: 15px;
}

#footer_bottom .left .email_subscribe input {
	width: 300px;
	height: 35px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 0 7px;
	direction: ltr;
}

#footer_bottom .left .email_subscribe button {
	width: 85px;
	height: 35px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 0 7px;
	background-color: #5b50fbc9;
	color: white;
	text-align: center;
	line-height: 35px;
	font-size: 10pt;
	margin-right: 10px;
	font-family: yekan;
}

#footer_bottom .left .socials {
	width: 100%;
	height: 50px;
	margin-top: 110px;
}

#footer_bottom .left .socials img {
	float: left;
	margin-left: 10px;
	width: 150px;
	height: 50px;
	border-radius: 4px;
	overflow: hidden;
}

#footer_bottom .left .social_btn {
	width: 260px;
	display: inline-block;
	height: 50px;
}

#footer_bottom .left .social_btn a {
	width: 30px;
	height: 30px;
	float: right;
	background: url("../images/slices.png");
	margin-left: 7px;
	margin-top: 20px;
	transition: all 0.2s ease-out;
}

#footer_bottom .left .social_btn a:hover {
	transform: rotate(360deg);
}

#footer_bottom .left .social_btn #telegram {
	background-position: -618px -620px;
}

#footer_bottom .left .social_btn #facebook {
	background-position: -576px -620px;
}

#footer_bottom .left .social_btn #instagram {
	background-position: -535px -620px;
}

#footer_bottom .left .social_btn #googleplus {
	background-position: -494px -620px;
}

#footer_bottom .left .social_btn #tweeter {
	background-position: -453px -620px;
}

#footer_bottom .left .social_btn #linkdin {
	background-position: -410px -620px;
}

#footer_bottom .left .social_btn #aparat {
	background-position: -370px -620px;
}

/* End Footer */


.btn_green {
	display: inline-block;
	padding: 5px 10px;
	line-height: 24px;
	background-color: #00a000;
	color: #FFFFFF;
	text-align: center;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #b8b8b8;
	font-size: 10pt;
	cursor: pointer;
}

.showcart2 {
	background-color: #FFFFFF;
	padding: 20px 10px;
	margin: 20px 0;
}

.order_steps {
	width: 914px;
	min-height: 50px;
	margin: 30px auto;
}

.dashed {
	float: right;
	height: 10px;
	margin: 20px 10px;
}

.dashed span {
	float: right;
	width: 11px;
	height: 2px;
	background-color: green;
	margin-left: 4px;
	margin-top: 4px;
}

.order_steps > ul {
	float: right;
	height: 10px;
	margin-top: 20px;
	margin-left: 10px;
}

.order_steps > ul > li {
	width: 240px;
	height: 10px;
	position: relative;
	float: right;
}

.order_steps > ul > li:last-child {
	width: 21px;
}

.order_steps > ul > li .circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #cccccc;
	position: absolute;
	top: -7px;
	right: 0;
}

.order_steps > ul > li.active .circle {
	border: 2px solid green;
	background: green url("../images/slices.png") -809px -474px no-repeat;
}

.order_steps > ul > li .line {
	width: 190px;
	height: 2px;
	position: absolute;
	top: 4px;
	right: 37px;
	background-color: #cccccc;
}

.order_steps > ul > li.active .line {
	background-color: green;
}

.order_steps > ul > li .title {
	width: 136px;
	position: absolute;
	top: 17px;
	right: -60px;
	font-size: 11pt;
	text-align: center;
	color: #5a5a5a;
}

.order_steps > ul > li.active .title {
	color: green;
}

.choose_adres {
	min-height: 100px;
	margin-top: 50px;
}

 .head {
	display: block;
	font-size: 12pt;
	height: 35px;
	padding-right: 15px;
	color: #404040;
	font-weight: bold;
}

.choose_adres .head > span {
	float: left;
	margin-left: 15px;
	font-weight: normal;
}

.choose_adres > table,.shiveErsal > table {
	width: 100%;
	margin-top: 25px;
	font-size: 9.5pt;
}

.choose_adres > table td,.shiveErsal> table td {
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding:20px 5px;
}

.choose_adres > table tr:first-child td,.shiveErsal > table tr:first-child td {
	border-top: 1px solid #cccccc;
}

.choose_adres > table tr:first-child td:first-child ,.shiveErsal> table tr:first-child td:first-child {
	border-right: 1px solid #cccccc;
	cursor: pointer;
}

.choose_adres > table .circle, .choose_adres > table .editremove {
	width: 5%;
	text-align: center;
}

.choose_adres > table .editremove .edit, .choose_adres > table .editremove .remove {
	height: 50%;
	background-color: #767eff;
}

.choose_adres > table .editremove {
	padding: 0;
}

.editremove table {
	width: 100%;
	height: 100%;
}

.editremove table td {
	text-align: center;
	border: none;
	height: 56px;
	cursor: pointer;
}

.editremove tr:first-child td {
	background-color: rgb(215, 214, 255) !important;
}

.editremove td span {
	display: block;
	width: 13px;
	height: 15px;
	margin: auto;
	background: url("../images/slices.png") -812px -446px;
}

.editremove tr:last-child td {
	background-color: rgb(255, 204, 201) !important;
}

.editremove tr:last-child td span {
	background-position: -813px -510px;
}

.choose_adres > table .circle span,.shiveErsal > table .circle span {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #cccccc;
	margin: auto;
	position: relative;
}

.choose_adres > table.active .circle span,.shiveErsal > table.active .circle span {
	background-color: blue;
	border: none;
}

.choose_adres > table.active .circle span::after,.shiveErsal > table.active .circle span::after {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 7px;
	right: 7px;
	border-radius: 50%;
	background-color: white;
}

.choose_adres > table.active tr:first-child td:first-child,.shiveErsal > table.active tr:first-child td:first-child {
	background-color: #d5fbd5;
}

.choose_adres > table.active .circle i,.shiveErsal > table.active .circle i{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 35px 35px 0;
	border-color: transparent #2dc906 transparent transparent;
}

.choose_adres > table.active .circle i::after,.shiveErsal > table.active .circle i::after{
	content: "";
	display: block;
	position: absolute;
	top: 1px;
	left: 18px;
	width: 12px;
	height: 12px;
	background: url(../images/slices.png) -812px -477px;
}

.shiveErsal{
	margin-top: 30px;
}

.shiveErsal .td2 img{
	vertical-align: top;
	margin-top: 8px;
	margin-right: 8px;
}

.shiveErsal .td2 >div{
	display: inline-block;
	margin-right: 10px;
}

.shiveErsal .td2 p:first-of-type{
	font-size: 13pt;
}
.shiveErsal .td2 p:last-of-type{
	font-size: 10pt;
	color: #585858;
}

.shiveErsal .hazine{
	width: 10%;
}

.shiveErsal .hazine >p:first-child{
	font-size: 10pt;
	text-align: center;
}

.shiveErsal .hazine >p:last-child{
	font-size: 13pt;
	color: #008100;
	font-weight: bold;
	text-align: center;
}




.dark{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	background:rgba(0,0,0,0.3);
	cursor: pointer;
	display: none;
}

.add_adres {
	width: 60%;
	height: 550px;
	position: fixed;
	top: 20px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 6;
	background:#FFFFFF;
	display: none;
}

.add_adres h4{
	padding: 7px;
	font-size: 14pt;
	background-color: #eeeeee;
}

.add_adres h4 i{
	width: 25px;
	height: 25px;
	background: url(../images/slices.png) no-repeat -1049px -43px;
	border: 1px solid #cccccc;
	float: left;
	margin: 6px;
	cursor: pointer;
	border-radius: 50%;
}

.add_adres .row{
	height: 40px;
	margin: 7px 0;
	padding: 0 10px;
	font-size: 11pt;
}

.row .right{
	width: 40%;
	float: right;
	line-height: 38px;
}

.row .left{
	float: right;
}

.row .left input{
	width: 260px;
	height: 35px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 0 10px;
}

.row .left textarea{
	width: 260px;
	height: 90px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 10px;
}

.row .left select{
	padding: 2px 5px;
	width: 130px;
	margin-left: 18px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: yekan;
}

























